@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif;
    box-sizing: border-box;
}

body {
    background: whitesmoke;
    color: #3a3a3a;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
}

nav h1 {
    font-size: 295%;
    color: #3a3a3a;
    letter-spacing: 4px;
    list-style: none;
}

nav small {
    font-size: 120%;
    color: #0672ba;
    letter-spacing: 3px;
    list-style: none;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #3a3a3a;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #0672ba;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.active {
    color: #0672ba;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg);
    background-size: cover;
    background-position: center;
}

.header-text {
    padding-top: 13%;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
}

.header-text,
.header-text h1 {
    line-height: 75px;
}

.header-text h1 {
    font-size: 50px;
}

.hero-button {
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-size: 200%;
    color: #5f5c5c;
    letter-spacing: 2px;
}

.hero-button a {
    text-decoration: none;
    color: #fff;
    background-color: #302f2f;
    border: 1px solid #565151;
    border-radius: 5px;
    padding: 10px;
    line-height: 75px;
}

.hero-button a:hover {
    background-color: rgb(83, 83, 87);
}

/* Services section */

#services {
    height: 550px;
}

.services-header {
    color: #3a3a3a;
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
    letter-spacing: 4px;
}

#services {
    padding: 20px 30px;
    color: #3a3a3a;
    margin-right: 30px;
}

.service-container {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    text-align: center;
    letter-spacing: 2px;
}

.service-container h3 {
    color: #3a3a3a;
    font-family: Ubuntu, sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    letter-spacing: 4px;
}

.service-container p {
    color: #3a3a3a;
    font-family: Lato, sans-serif;
    font-size: 20px;
    line-height: 1.45;
    padding: 20px 40px;
    text-align: justify;
}

.service-container a {
    color: #3a3a3a;
    text-decoration: none;
    list-style: none;
}

.service-container span a {
    color: #0672ba;
}

.service-container span a:hover {
    border-bottom: 1px solid #0672ba;
}

.aSeparator {
    border-bottom: 1px solid #c1ced9;
    width: 95%;
    margin: 40px 50px;
}

/* about Abdikarim */

.about-me {
    color: #3a3a3a;
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 4px;
}

.about-me p {
    color: #3a3a3a;
    font-family: Lato, sans-serif;
    font-size: 20px;
    line-height: 1.45;
    padding: 30px 80px;
    text-align: justify;
}

.about-me a {
    text-decoration: none;
    color: #0672ba;
}

.about-me a:hover {
    border-bottom: 1px solid #0672ba;
}


/* contact section */

#contact {
    height: 600px;
    text-align: center;
    line-height: 75px;
}

#contact h3 {
    color: #3a3a3a;
    font-family: Ubuntu, sans-serif;
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
    letter-spacing: 4px;
}

#contact a {
    display: inline;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    font-family: Ubuntu, sans-serif;
    color: #0672ba;
}
