@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif;
    box-sizing: border-box;
}

body {
    background: whitesmoke;
    color: #3a3a3a;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav h1 {
    font-size: 295%;
    color: #3a3a3a;
    letter-spacing: 4px;
    list-style: none;
}

nav small {
    font-size: 120%;
    color: #0672ba;
    letter-spacing: 3px;
    list-style: none;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #3a3a3a;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #0672ba;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}
